* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgba(28, 28, 33, 0.815);
}

/*
1.section1.
2.section2.
3.section3.
5.section5.
6.section6.
7.section7.
*/

/*1.section1.*/

.sec1 {
  background-image: url("../img/section1/sec1-bg-img.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
}

.sec1Cus:hover {
  background-color: #be9517 !important;
}

.nav-link {
  font-weight: 500;
}

.active {
  color: #f3b80a !important;
}

.nav-link:hover {
  color: #f3b80a !important;
}

/*2.section2.*/

.sec2 {
  background-color: rgba(28, 28, 33, 0.815);
}

/*3.section3.*/

.sec3 {
  background-image: linear-gradient(
      rgba(28, 28, 33, 0.438),
      rgba(28, 28, 33, 0.356)
    ),
    url("../img/section3/sec3-bg.png");
  width: 100%;
  background-size: cover;
  background-position: center;
}

/*5.section5.*/

.sec5 {
  background-image: linear-gradient(
      rgba(28, 28, 33, 0.438),
      rgba(28, 28, 33, 0.356)
    ),
    url("../img/section5/sec5-bg-img.jpg");
}

.sec5D1 {
  border: 8px solid #f3b80a;
}

/*6.section6.*/

.sec6 #flip_1 {
  transform: scale(-1);
}

/*7.section7.*/

.sec7 {
  background-image: url("../img/section7/sec7-left-img.png");
  width: 100%;
  background-size: cover;
  background-position: center;
}

/**/

.sec8under a:hover {
  filter: brightness(0.75);
}

.sec8under1 li a:hover {
  color: #f3b80a !important;
}
